@page "/players"
@inject HttpClient httpClient

<h1>Contacts</h1>

<NavLink class="nav-link btn btn-default" href="newcontact">Add New Contact</NavLink>

<hr />

@if (players.Any())
{
    <div class="card-deck">
        @foreach (var player in players)
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@player.PlayerName</h5>
                    <p class="card-text">
                        <strong>Phone Number</strong> @player.PlayerPassword
                    </p>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No Contacts Found</p>
}

@functions 
{
    /*
    private List<PlayerViewModel> players = new List<PlayerViewModel>();

    protected override async Task OnInitAsync() => await GetAll();

    private async Task GetAll() => players = await httpClient.GetJsonAsync<List<PlayerViewModel>>("api/player");
    */
}